<div class="createBill">
<label>Create Order</label>
<mat-card>
    <div class="row">
      <div class="col-50">
        <label>Product</label>
      </div>
      <div class="col-50">
        <label>Quality</label>
      </div>
    </div>
    <div class="row">
      <div class="col-50">
         <select>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="col-50">
        <input type="text">
      </div>
    </div>
    <div class="row">
      <div class="col-50">
        <label>Reference</label>
      </div>
      <div class="col-25">
       <label>Discount Percentage</label>
      </div>
      <div class="col-25">
       <label>Discount Amount</label>
      </div>
    </div>
    <div class="row">
      <div class="col-50">
        <input type="text">
      </div>
      <div class="col-25">
        <input type="text" value="%">
      </div>
      <div class="col-25">
        <input type="text" >
      </div>
    </div><br>
    <div class="row">
     <div class="col-50">
      	<input type="checkbox">Custom Cake
      </div>
   	 <div class="col-50">
      	<input type="submit" value="Add">
      </div>
    </div>
</mat-card>
<label>Order List</label>
 <table>
    <tr>
      <th>Product</th>
      <th>Quality</th>
      <th>Price Per Product</th>
      <th>Total Price</th>
      <th>Discount Amount</th>
      <th>Reference</th>
      <th>Edit</th>
      <th>Action</th>
    </tr>
   </table><br>
   <mat-card>
    <div class="row">
      <div class="col-35">
        <label>Payment Modes</label>
      </div>
      <div class="col-35">
        <label>Amount</label>
      </div>
    </div>
    <div class="row">
      <div class="col-35">
         <select>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="col-35">
        <input type="text">
      </div>
      <div class="col-20">
        <input type="submit" value="+">
      </div>
    </div>
    <div class="row">
      <div class="col-40">
        <label>Reference</label>
      </div>
      <div class="col-40">
       <label>Discount Percentage</label>
      </div>
    </div>
    <div class="row">
      <div class="col-40">
        <input type="text">
      </div>
      <div class="col-40">
        <input type="text" value="0">
      </div>
      <div class="col-20">
      	<input type="checkbox" checked="checked">
      </div>
    </div>
    <div class="row">
      <div class="col-40">
        <label>Balance Amount</label>
      </div>
      <div class="col-40">
       <label>Advance Amount</label>
      </div>
    </div>
   <div class="row">
      <div class="col-40">
        <input type="text" value="0">
      </div>
      <div class="col-40">
        <input type="text" value="0">
      </div>
      <div class="col-20">
      	  <input type="submit" value="Add">
      </div>
   </div>
</mat-card>
<br>
    <div>
    <p>Total bill amount:0</p>
      	<input type="submit" value="Print">
      </div>
    </div>

