<div class="login">
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/11-117633_2717-x-2464-13-birthday-cake-logo-png.png" alt="" srcset="">
        </div>
       <p class="label">Username</p>
       <input type="text" class="input">
       <p class="label">Password</p>
       <input type="password" class="password">
       <p class="text-right pointer">Forget Password?</p>
       <div class="logo mb-4">
           <button mat-raised-button color="accent">LOGIN</button>
       </div>
    </mat-card>

</div>