.input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px 70px 10px 70px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: center;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.head {
  text-align: center;
}
