<div class="container">
    <form action="/action_page.php">
    <div class="row" id="head">
    <label>Add Product Information </label>
    </div>
    <hr>
      <div class="row">
        <div class="col-50">
          <label>Product Name</label>
        </div>
         <div class="col-50">
          <label>Select Tag</label>
        </div>
        
      </div>
      <div class="row">
       <div class="col-50">
          <input type="text" >
        </div>
       <div class="col-50">
          <select >
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-50">
          <label>Price</label>
        </div>
        <div class="col-50">
          <label>Code</label>
        </div>
       
      </div>
      <div class="row">
         <div class="col-50">
          <input type="text">
        </div>
        <div class="col-50">
          <input type="text">
        </div>
      </div>
      <br>
      <div class="row">
        <input type="submit" value="Save">
      </div>
    </form>
  </div>
<hr>
<app-product-list></app-product-list>