<h2>Product List Page</h2>


<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Product Name</th>
      <th>Tag Name</th>
      <th>Rate</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>Black Forest</td>
      <td>1 kg</td>
      <td>250</td>
      <td>
     <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
     <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></td>
    </tr>
    <tr>
      <td>Rasmalai</td>
      <td>1 kg</td>
      <td>550</td>
      <td><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></td>
    </tr>
    <tr>
      <td>Pinapple</td>
      <td>1 kg</td>
      <td>250</td>
      <td><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></td>
    </tr>
     <tr>
      <td>Straberry</td>
      <td>1 kg</td>
      <td>250</td>
      <td><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></td>
    </tr>
  </table>
</div>
