<mat-toolbar color="accent">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Cake Shop</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>

<div class="product">
  <mat-card>
    <div>
      <table>
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Tag Name</th>
            <th>Rate</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>Black Forest</td>
            <td>1 kg</td>
            <td>250</td>
            <td class="icon">
          <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></td>
          </tr>
          <tr>
            <td>Ras malai</td>
            <td>1 kg</td>
            <td>550</td>
            <td class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></td>
          </tr>
          <tr>
            <td>Pine apple</td>
            <td>1 kg</td>
            <td>250</td>
            <td class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></td>
          </tr>
          <tr>
            <td>Sta berry</td>
            <td>1 kg</td>
            <td>250</td>
            <td class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</div>
