<mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cake Shop</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>


  <div class="cards">
      <mat-grid-list cols="3" rowHeight="3:1">
          <mat-grid-tile> 
              <div class="card">
                <mat-card><mat-icon>add_circle</mat-icon><span> Add Product</span></mat-card>
              </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="card">
                <mat-card><mat-icon>library_books</mat-icon><span> Product List</span></mat-card>
              </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="card">
                <mat-card><mat-icon>label</mat-icon><span> Add New Tag</span></mat-card>
              </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="card">
                <mat-card><mat-icon>list</mat-icon><span>Tag List</span></mat-card>
              </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="card">
                <mat-card><mat-icon>cake</mat-icon><span> Create Bill</span></mat-card>
              </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="card">
                <mat-card><mat-icon>view_list</mat-icon><span> Bill List</span></mat-card>
              </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="card">
                <mat-card><mat-icon>report</mat-icon><span> Sales Report</span></mat-card>
              </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="card">
                <mat-card><mat-icon>input</mat-icon><span> Logout</span></mat-card>
              </div>
          </mat-grid-tile>
          <!-- <mat-grid-tile><mat-card></mat-card></mat-grid-tile> -->
      </mat-grid-list>
  </div>