<br>
<div class="row">
  <div class="column">
    <div class="card">
      <h3>Product List</h3>
    </div>
  </div>
  <div class="column" >
    <div class="card">
      <h3>Add Product</h3>
    </div>
  </div>
  <div class="column" >
    <div class="card">
      <h3>Tag List</h3>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Add Tag</h3>
    </div>
  </div>
  <div class="column" >
    <div class="card">
      <h3>Create Bill</h3>
    </div>
  </div>
  <div class="column" >
    <div class="card">
      <h3>Bill List</h3>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Sales Report</h3>
    </div>
  </div>
  <div class="column" >
    <div class="card">
      <h3>Logout</h3>
    </div>
  </div>
  <div class="column" >
    <div class="card">
      <h3>Add Product</h3>
    </div>
  </div>
</div>